@model Matrix_Task_anotherSolution.Models.ProductCategoryProp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductCategoryProp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Click the button below to confirm adding values</h2>
            <br />
            <div class="form-group visually-hidden">
                <label asp-for="ProductPropId" class="control-label"></label>
                <input asp-for="ProductPropId" value="@ViewBag.ProductPropId" class="form-control" />
     
            </div>
            <div class="form-group visually-hidden">
                <label asp-for="CategoryPropId" class="control-label"></label>
                <input asp-for="CategoryPropId" value="@ViewBag.categoryPropId" class="form-control" />
                <span asp-validation-for="CategoryPropId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Filling values" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
